<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Companies</title>
</head>
<body class="bg-gray-300">
    <div class="flex justify-center mt-4">
        <h1 class="font-bold">Explore Opportunies by Company</h1>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center">
        <div class="text-center m-6">
            <img src="../../../dinoco logo.jpg" alt="DinoCo logo" class="w-50">
            <h1>DinoCo</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../cyberdyne systems logo.jpg" alt="DinoCo logo" class="w-50 h-50">
            <h1>CyberDyne Systems</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../polyskope labs.jpg" alt="PolySkope Labs logo" class="w-50">
            <h1>PolySkope Labs</h1>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center">
        <div class="text-center m-6">
            <img src="../../../aquasync logo.png" alt="AquaSync logo" class="w-50">
            <h1>AquaSync</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../upless cloudstorage logo.png" alt="Upless logo" class="w-50 h-50">
            <h1>Upless Cloud Storage</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../honeytech logo.webp" alt="HoneyTech logo" class="w-50 h-50">
            <h1>HoneyTech</h1>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center">
        <div class="text-center m-6">
            <img src="../../../bluth logo.jpg" alt="Bluth Company logo" class="w-50">
            <h1>Bluth Company</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../rogue logo.jpg" alt="DinoCo logo" class="w-50 h-50">
            <h1>Rogue Enterprises</h1>
        </div>
        <div class="text-center m-6">
            <img src="../../../newton logo.png" alt="Newton logo" class="w-50">
            <h1>Newton</h1>
        </div>
    </div>
</body>
</html>