/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* General Styles */
body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drop-shadow-text {
  text-shadow: 0.25rem 0.25rem rgba(0,0,0, 0.25)
}
.drop-shadow-text-caption {
  text-shadow: 0.125rem 0.125rem rgba(0,0,0, 0.25)
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* Adjust width for horizontal scrollbar */
  height: 8px; /* Adjust height for vertical scrollbar */
  transition: all 1300ms ease-in-out;
}

::-webkit-scrollbar-track {
  background: #0C2240; /* Dark grey background */ 
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9; /* Lighter grey for thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #5C5C5C; /* Slightly darker thumb on hover */
}